
@page{
	size: A4 landscape;
	orphans:1; 
	widows:1;
	margin: 1cm ;
        border : 2px solid black;
    @top-center {
	    content: element(chapter);
	}
  
@top-left-corner { content: none; } 
@top-left { content: none; } 
@top-right { content: none; } 
@top-right-corner { content: none; } 
@right-top { content: none; } 
@right-middle { content: none; } 
@right-bottom { content: none; } 
@bottom-right-corner { content: none; } 
@bottom-right { content: none; } 
@bottom-center { content: counter(page); } 
@bottom-left { content: none; } 
@bottom-left-corner { content: none; } 
@left-bottom { content: none; } 
@left-middle { content: none; } 
@left-top { content: none; } 


}

   @page :first {
      margin-top: 10cm ;   /* Top margin on first page 10cm */
   }




@page :blank {
  @top-center { content: none }
}






p{

font-family: "Amita",serif;
float: left;
margin: 0px auto;
width:auto;

}

article{

	font-family: "Amita",serif;
	margin : 50px auto;
	padding : 20px;
	width : 80%;
	clear:both;
	height:100%;
	color:#404040;
	page-break-after: always;
	page-break-before : always;
	page-break-inside: avoid;
}

body{
	background : transparent;
}

html{
	border-left :10px double #FF7F00;
	border-right :10px double #FF7F00;
	margin: 0px 20px 0px 20px;
	padding: 0px 10px 520px 10px;
	background-color: #f1f6f8;
	background-image: url("./images/Transparent_Floral_Decoration_tl.png"), url("./images/Transparent_Floral_Decoration_tr.png"), url("./images/floral_swirl_digital_scrapbook_image1.png"), url("./images/Transparent_Floral_Decoration_bl.png"), url("./images/Transparent_Floral_Decoration_br.png");
	background-position: top left, top right, bottom  center, bottom left, bottom right; /*Positioning*/
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 20%, 20%, 20%, 20%, 20%;



}

.quote {
background:#FFD573;
width:100%;
margin:40px 0px 20px;
padding:40px 2px 10px;
overflow:auto;
display:table;

page-break-after: always;
page-break-before : always;
page-break-inside: avoid;

}
.quote p{

font-family: "Amita",serif;
font-size : 1.5em;
clear:both;
padding:10px;
margin : 5px;
text-align: left;
color: #D62712;

page-break-after: always;
page-break-before : always;
page-break-inside: avoid;
width:80%;
}

h1{

font-family: "Amita",serif;
font-size : 3.5em;
clear:both;
width : auto;
text-align:center;
padding : 10px 5px;
color:#FF8C0D;

page-break-after: always;
page-break-before : always;
page-break-inside: avoid;
background : transparent url("./images/floral-frame-png_o1.png") no-repeat scroll 0% 0%/ 100% 100%;
line-height:500px;
height:500px
running: chapter;
}

br{
clear:both;
}

h1:running {
font-family: "Amita",serif;
display: inline;
font-size: 11pt;
font-weight: normal;
font-variant: small-caps;
letter-spacing: 1pt;

}

blockquote p {
	width: 100%;
	display: inline;
	margin: 0px auto;
	clear: both;
}
blockquote  {

	display: block;
	font-size: 1.5em;
	width: 100%;
	padding: 20px 10px 18px 20px;
	border: none;
	margin: 5px auto;
	text-indent: 23px;
	color: #D62712;
	clear: both;	

} 

blockquote cite {
	display:block;
	width:100%;
	font: Amita, serif;
	color: #D62712;
	font-size: 1.1em;
	clear:both;
	
}
 

blockquote cite p{
	display:block;
	width:auto;
	font: Amita, serif;
	color: #D62712;
	font-size: 0.7em;
	clear:both;
	
}

blockquote cite p:after {
	content: "\2014 \2009";
}




